.presentation {
  padding-top: 100px;


  &-wrapper {
    width: 470px;
  }

  &__stories {
    width: 100%;
    padding: 10px 0 10px 10px;
    display: flex;
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    box-sizing: border-box;
    overflow-x: scroll;

    &-img img {
      width: 56px;
      height: 56px;
      border-radius: 50px;
    }

    &-acc {
      cursor: pointer;
      margin-right: 20px;
      color: rgb(85, 85, 85);
      font-size: 12px;
    }
  }
}