.presentation {
  padding-top: 100px;


  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-section {
    width: 470px;
  }

  &__stories {
    width: 100vh;
    padding: 10px 0 10px 10px;
    display: flex;
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    box-sizing: border-box;

    &-name {
      font-weight: 500;
      padding-top: 6px;
    }

    &-img {
      padding: 4px;
      position: relative;
      border-radius: 50%;
      background-color: #fff;

      &::after {
        position: absolute;
        top: -2px; bottom: -2px;
        left: -2px; right: -2px;
        background: linear-gradient(60deg, rgba(255,221,77,1) 0%, rgba(234,10,152,1) 100%);
        content: '';
        z-index: -1;
        border-radius: 50%;
      }

      & img {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-acc {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      margin-right: 20px;
      color: rgb(85, 85, 85);
      font-size: 12px;
    }
  }

  &-recommendation {
    width: 300px;
    font-size: 14px;
  }

  &-rec__links a {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: '\00B7';
      margin: 0 0.25em 0 0.25em;
    }
  }
}

.rec {
  &__account {
    padding: 12px 0;
    font-weight: 500;
    color: rgb(38, 38, 38);
    display: flex;
    align-items: center;

    & img {
      width: 56px;
      height: 56px;
      border-radius: 30px;
      object-fit: cover;
    }

    &-name {
      margin-left: 10px;
    }

    &-button {
      margin-left: auto;
    }
  }

  &__text {
    font-weight: bold;
    color: rgb(142, 142, 142);
    padding-bottom: 12px;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 13px;

    &-image img {
      width: 32px;
      height: 32px;
      border-radius: 20px;
      object-fit: cover;
    }

    &-name {
      margin-left: 10px;
      font-weight: 500;
    }

    &-subscribe {
      margin-left: auto;
    }
  }
}